<div class="col-sm-7 col-md-7 col-lg-8">
</div>
<div class="col-sm-5 col-md-5 col-lg-4 m-0">
    <div class="btn-group m-0" role="group" aria-label="Basic example" style="width:100%">
        @{
            Account cl = Buratino.Models.Xtensions.CockieXtensions.GetOperator(this.Context);
            if (cl == null)
            {
                <div class="modal fade" style="width:100%" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">Вход</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form class="form" role="form" method="post" action="/Security/Signin">
                                <div class="modal-body mx-3">
                                    <div class="md-form mb-5">
                                        <i class="fa fa-envelope prefix grey-text"></i>
                                        <input type="text" name="login" id="login" class="form-control validate" required>
                                        <label data-error="wrong" data-success="right" for="defaultForm-email">Логин</label>
                                    </div>
                                    <div class="md-form mb-4">
                                        <i class="fa fa-lock prefix grey-text"></i>
                                        <input type="password" name="pass" id="pass" class="form-control validate" required>
                                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Пароль или код из приложения</label>
                                    </div>
                                    <input type="text" hidden name="nextUrl" id="nextUrl">
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <button type="submit" class="btn btn-outline-success">Войти</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <a id="loginBtn" class="btn btn-outline-primary w-50" style="border-radius: .25rem;" data-toggle="modal" data-target="#modalLoginForm">
                    Войти
                </a>
                if (ViewData.TryGetValue("url", out object url))
                {
                    <script>
                        window.onload = function () {
                            this.document.getElementById("loginBtn").click();
                            this.document.getElementById("nextUrl").value = '@url.ToString().TrueSplit("url=")[1]';
                            $('#login').trigger('focus');
                        };
                    </script>
                }
            }
            else
            {
                <ul class="list-group" style="width:100%">
                    <a class="btn btn-info dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        @cl.Email
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/Account/LK">Личный кабинет</a>
                        <a class="dropdown-item mt-2 text-danger" href="/Security/Exit">Выйти</a>
                    </div>
                </ul>
            }
        }

    </div>
</div>