@{
    Account acc = Buratino.Models.Xtensions.CockieXtensions.GetOperator(this.Context);
    if (acc != null)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Видео выпуск
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="/AdvertisingCampany/AdvList">Рекламные кампании</a>
                <a class="dropdown-item" href="/OutplanManager/Test?tableName=Advertisers">Рекламодатели</a>
                <a class="dropdown-item" href="/OutplanManager/Test?tableName=SideExtendeds">Экраны</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" style="cursor:pointer" onclick="updateCamps(this)">Синхронизировать новые кампании</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Фотоотчеты
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="/OutplanManager/Test?tableName=Orders">Реестр заданий ФО</a>
                <a class="dropdown-item" href="/EmptyTaskPeriod/Control">Управление пустыми папками</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Order/History">Список</a>
                <a class="dropdown-item" href="/Map/OrdersMap">Карта</a>
            </div>
        </li>
    }
}