@model CrudEditDto
@{
    ViewData["Title"] = "Редактирование " + @Model.EntityName;

    var type = Model.Entity.GetType();
    var propertyList = type.GetDefaultList().ToArray();
}
<h1>Редактирование @Model.EntityName</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="fileForm" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="text" name="Id" hidden value="@Model.Entity.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                await Html.RenderPartialAsync($"PartialDetails", Model);
            }
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

